body {
  margin: 0 auto;
  max-width: 1000px;
}

.container{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.question {
  text-align: center;
}
